= form_for @poster do |f|
  -if @poster.errors.any?
    #error_explanation
      %h2= "#{pluralize(@poster.errors.count, "error")} prohibited this poster from being saved:"
      %ul
        - @poster.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Postername
    = f.text_field :postername
  .field
    = f.label :location
    = f.text_area :location
  .field
    = f.label :direction
    = f.text_area :direction
  .field
    = f.label :phoneport
    = f.number_field :phoneport
  .field
    = f.label :beacon
    = f.text_area :beacon
  .field
    = f.label :serverip
    = f.text_field :serverip
  .field
    = f.label :serverport
    = f.number_field :serverport
  .field
    = f.label :Postertype
    = f.text_field :postertype
  .actions
    = f.submit 'Save'
