%h1 Listing posters

%table
  %tr
    %th Name
    %th 
    %th
    %th
    %th

  - @posters.each do |poster|
    %tr
      %td= link_to poster.postername , poster
      !!!%td= poster.beacon
      %td= link_to 'Show Linked Content', poster_contentlists_path(poster)
      !!!%td= link_to 'Edit', edit_poster_path(poster)
      %td= link_to 'Destroy', poster, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Poster', new_poster_path
