%p#notice= notice

%p
  %b Name:
  = @poster.postername
%p
  %b Direction:
  = @poster.direction
%p
  %b Beacon:
  = @poster.beacon
%p
  %b Server Ip:
  = @poster.serverip
%p
  %b Server Port:
  = @poster.serverport
%p
  %b Phone port:
  = @poster.phoneport
%p
  %b Location:
  = @poster.location
%p
  %b PosterType:
  = @poster.postertype

= link_to 'Edit', edit_poster_path(@poster)
\|
= link_to 'Back', posters_path
