= semantic_form_for([@user, @terminal, @interaction]) do |f|
  - if @interaction.errors.any?
    #error_explanation
      %h2
        = pluralize(@interaction.errors.count, "error")
        prohibited this interaction from being saved:
      %ul
        - @interaction.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do

    = f.input :url
    = f.input :time, :include_blank => false, :hint => "Date and time the interaction happened"
    = f.input :cached, :hint => "Was the resourced already cached?"
    = f.input :provider, :hint => "Where did the resource came from?"
    = f.input :cell, :hint => "CellId the terminal was connected"
    = f.input :duration, :hint => "Duration of the interaction in seconds"
    = f.input :interruption, :hint => "Total no. of interruptions during playback"
  %br
  %br
  %br
  = f.buttons do
    = f.commit_button
