=content_for :section do
  Editing interaction

=content_for :menu do
  %li= link_to 'Current user', user_path(@user)
  %li= link_to 'Videos', user_videos_path(@user)
  %li= link_to 'Terminals', user_terminals_path(@user)
  %li= link_to 'Interactions', user_terminal_interactions_path(@user)

= render 'form'
