=content_for :section do
  Listing interactions

=content_for :menu do
  %li= link_to 'Current user', user_path(@user)
  %li= link_to 'Videos', user_videos_path(@user)
  %li= link_to 'Terminals', user_terminals_path(@user)
  %li= link_to 'Prefetchables', user_terminal_prefetchables_path
  %li= link_to 'New Interaction', new_user_terminal_interaction_path(@user, @terminal)

%table
  %tr
    %th Url
    %th Time
    %th Cached
    %th Cell
    %th Provider
    %th Interruptions
    %th Duration
    %th
    %th
  - @interactions.each do |interaction|
    %tr
      %td= interaction.url
      %td= interaction.time
      %td= interaction.cached
      %td= interaction.cell
      %td= interaction.provider
      %td= interaction.interruption
      %td= interaction.duration
      %td= link_to 'All', user_terminal_interaction_events_path(@user, @terminal, interaction)
//      %td= link_to 'Show', user_terminal_interaction_path(@user, @terminal, interaction)
//      %td= link_to 'Edit', edit_user_terminal_interaction_path(@user, @terminal, interaction)
//      %td= link_to 'Destroy', [@user, @terminal, interaction], :confirm => 'Are you sure?', :method => :delete
