=content_for :section do
  Show interaction

=content_for :menu do
  %li= link_to 'Current user', user_path(@user)
  %li= link_to 'Videos', user_videos_path(@user)
  %li= link_to 'Terminals', user_terminals_path(@user)
  %li= link_to 'Interactions', user_terminal_interactions_path(@user)
  %li= link_to 'Edit', edit_user_terminal_interaction_path(@user, @terminal, @interaction)

%p#notice= notice
%p
  %b Terminal:
  = @interaction.terminal_id
%p
  %b Url:
  = @interaction.url
%p
  %b Time:
  = @interaction.time
%p
  %b Cached:
  = @interaction.cached
%p
  %b Cell:
  = @interaction.cell
%p
  %b Provider:
  = @interaction.provider
%p
  %b Interruptions:
  = @interaction.interruption
%p
  %b Duration:
  = @interaction.duration
