$space: 20px;
$grey: #ccc;
$dark-grey: #666;
$margin-left: 100px;
$margin-small: 33px;

*{
  font-family: verdana;
  font-size: 11px;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
}

a{
  color: $dark-grey;
  text-decoration: none;
  &:hover{
    color: black;
    text-decoration: underline;
  }
}
#content{
  margin: 40px $margin-left;
  width: 1100px;
}
table{
  width: 100%;
  border-spacing: 0;
  td{
    padding-bottom: $space/4;
    text-align: center;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: solid 1px $grey;
  }
  a{
    padding-left: $space/2;
    padding-right: $space/2;
  }
}

#notice{
  background-color: green;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 0 10px;
  width: 400px;
}

li{
  list-style: none;
}
li.content_provider{
  list-style: disc;
  margin-left: $margin-small;
}
.fields {
  margin-left: 25%;
  margin-bottom: 10px;
  &li {
    display: inline;
  }
}

#nav{
  position: relative;
  width: 100%;
  border-bottom: solid 1px $grey;
  #logo{
    position: relative;
    margin: $space;
    &a {
      font-variant: small-caps;
      font-size: 250%;
    }
  }
  #section{
    font-variant: small-caps;
    font-size: 150%;
    display: inline;
    margin-left: $space;
  }
  #menu{
    border-top: solid 1px $grey;
    ul{
      display: inline;
    }
    li{
      display: inline;
      margin-left: $space;
    }
  }
  #login{
    width: 300px;
    position: absolute;
    display: inline;
    right: 0;
    top: 0;
    .fb-connect{
      overflow: hidden;
      text-indent: -300px;
      height: 35px;
      display: inline-block;
      position: relative;
      top: -15px;
      background: url("../images/fb-connect.png") top left no-repeat;
      width: 130px;
    }
  }
}

.me{
  background-color: #ddffdf;
}
