* {
  font-family: verdana;
  font-size: 11px;
  line-height: 18px;
  margin: 0px;
  padding: 0px; }

a {
  color: #666666;
  text-decoration: none; }
  a:hover {
    color: black;
    text-decoration: underline; }

#content {
  margin: 40px 100px;
  width: 1100px; }

table {
  width: 100%;
  border-spacing: 0; }
  table td {
    padding-bottom: 5px;
    text-align: center;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: solid 1px #cccccc; }
  table a {
    padding-left: 10px;
    padding-right: 10px; }

#notice {
  background-color: green;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 0 10px;
  width: 400px; }

li {
  list-style: none; }

li.content_provider {
  list-style: disc;
  margin-left: 33px; }

.fields {
  margin-left: 25%;
  margin-bottom: 10px; }
  .fields li {
    display: inline; }

#nav {
  position: relative;
  width: 100%;
  border-bottom: solid 1px #cccccc; }
  #nav #logo {
    position: relative;
    margin: 20px; }
    #nav #logo a {
      font-variant: small-caps;
      font-size: 250%; }
  #nav #section {
    font-variant: small-caps;
    font-size: 150%;
    display: inline;
    margin-left: 20px; }
  #nav #menu {
    border-top: solid 1px #cccccc; }
    #nav #menu ul {
      display: inline; }
    #nav #menu li {
      display: inline;
      margin-left: 20px; }
  #nav #login {
    width: 300px;
    position: absolute;
    display: inline;
    right: 0;
    top: 0; }
    #nav #login .fb-connect {
      overflow: hidden;
      text-indent: -300px;
      height: 35px;
      display: inline-block;
      position: relative;
      top: -15px;
      background: url("../images/fb-connect.png") top left no-repeat;
      width: 130px; }

.me {
  background-color: #ddffdf; }
