= semantic_form_for [@user, @authentication] do |f|
  - if @authentication.errors.any?
    #error_explanation
      %h2
        = pluralize(@authentication.errors.count, "error")
        prohibited this authentication from being saved:
      %ul
        - @authentication.errors.full_messages.each do |msg|
          %li= msg
  =f.inputs
  =f.buttons do
    =f.commit_button
