=content_for :section do 
  Listing authentications
%table
  %tr
    %th User
    %th Provider
    %th Uid
    %th
    %th
    %th
  - @authentications.each do |authentication|
    %tr
      %td= authentication.user_id
      %td= authentication.provider
      %td= authentication.uid
      %td= link_to 'Edit', edit_user_authentication_path(@user, authentication)
      %td= link_to 'Destroy', [@user, authentication], :confirm => 'Are you sure?', :method => :delete

=content_for :menu do
  %li= link_to 'New Authentication', new_user_authentication_path(@user)
