%p#notice= notice
%p
  %b User:
  = @authentication.user_id
%p
  %b Provider:
  = @authentication.provider
%p
  %b Uid:
  = @authentication.uid
= link_to 'Edit', edit_user_authentication_path(@user, @authentication)
|
\#{link_to 'Back', user_authentications_path(@user)}
