= semantic_form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs :name => "User" do
    = f.input :username
    = f.input :password
    = f.input :password_confirmation
    = f.input :email
    = f.input :quota
    = f.input :cycled
    = f.input :providers, :as => :check_boxes, :label => "Provider", :hint => "Select content providers for the user", :include_blank => false, :collection => Provider.all

  %br
  %br
  %br
  = f.buttons
