=content_for :section do
  Edit user

= render 'form'

=content_for :menu do
  %li= link_to 'Current user', user_path(@user)
  %li= link_to 'Videos', user_videos_path(@user)
  %li= link_to 'Terminals', user_terminals_path(@user)
