<%= content_for :section do %>
Listing users
<% end %>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Auths</th>
    <th>Subscriptions</th>
    <th>Terminals</th>
    <th>Videos</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <% if (current_user == user) %>
    <tr class="me">
  <% else %>
    <tr>
  <% end %>
    <td><%= link_to user.username, user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= link_to user.authentications.count, user_authentications_path(user) %> </td>
    <td><%= link_to user.providers.count, user_subscriptions_path(user) %> </td>
    <td><%= link_to user.terminals.count, user_terminals_path(user) %> </td>
    <td><%= link_to user.videos.count, user_videos_path(user) %> </td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%=content_for :menu do%>
  <li><%= link_to 'New User', new_user_path %></li>
<% end %>
