<%= content_for :section do %>
  Show user
<% end %>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Providers:</b>
  <% if @user.providers.empty? %>
    None (edit user to add)
  <% else %>
    <ul>
      <% @user.providers.each do |provider| %>
        <li class="content_provider"><%= provider.name %> </li>
      <% end %>
    </ul>
  <% end %>
</p>

<%=content_for :menu do %>
  <li><%= link_to 'Terminals', user_terminals_path(@user) %></li>
  <li><%= link_to 'Videos', user_videos_path(@user) %></li>
  <li><%= link_to 'Authentications', user_authentications_path(@user) %></li>
  <li><%= link_to 'Subscriptions', user_subscriptions_path(@user) %></li>
  <li><%= link_to 'Edit', edit_user_path(@user) %></li>
<% end %>

