= form_for [@poster, @contentlist] do |f|
  -if @contentlist.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contentlist.errors.count, "error")} prohibited this contentlist from being saved:"
      %ul
        - @contentlist.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :interactiontype
    = f.text_field :interactiontype
  .field
    = f.label :contentid
    = f.text_field :contentid
  .actions
    = f.submit 'Save'
