%h1 Listing contentlists

%table
  %tr
    %th Name
    %th Interactiontype
    %th Contentid
    %th Poster
    %th
    %th
    %th

  - @contentlists.each do |contentlist|
    %tr
      %td= contentlist.name
      %td= contentlist.interactiontype
      %td= contentlist.contentid
      %td= @poster.postername
      !!!%td= link_to 'Show', poster_contentlist_path
      %td= link_to 'Edit', edit_poster_contentlist_path(@poster,contentlist)
      %td= link_to 'Destroy', poster_contentlist_path(@poster,contentlist), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Contentlist', new_poster_contentlist_path
