%p#notice= notice

%p
  %b Name:
  = @contentlist.name
%p
  %b Interactiontype:
  = @contentlist.interactiontype
%p
  %b Contentid:
  = @contentlist.contentid
%p
  %b Poster:
  = @contentlist.poster

= link_to 'Edit', edit_contentlist_path(@contentlist)
\|
= link_to 'Back', contentlists_path
