= semantic_form_for [@user, @terminal] do |f|
  - if @terminal.errors.any?
    #error_explanation
      %h2
        = pluralize(@terminal.errors.count, "error")
        prohibited this terminal from being saved:
      %ul
        - @terminal.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :name
    = f.input :os
    = f.input :uid
    = f.input :description
    = f.input :registration_id
  = f.buttons do
    = f.commit_button
