=content_for :section do
  Listing terminals

=content_for :menu do
  %li= link_to 'Current user', user_path(@user)
  %li= link_to 'Videos', user_videos_path(@user)
  %li= link_to 'New Terminal', new_user_terminal_path

%table
  %tr
    %th Name
    %th Os
    %th Uid
    %th Description
    %th Registration
    %th Prefetchables
    %th Interactions
    %th [3G,WiFi]
    %th Allowed
    %th
  - @terminals.each do |terminal|
    %tr
      %td= terminal.name
      %td= terminal.os
      %td= terminal.uid
      %td= terminal.description
      %td= terminal.registration_id
      %td= link_to terminal.prefetchables.count, user_terminal_prefetchables_path(@user, terminal)
      %td= link_to terminal.interactions.count, user_terminal_interactions_path(@user, terminal)
      %td= Terminal.getquotaocc(@user,terminal) 
      %td= @user.quota
      //%td= link_to 'Show', [@user, terminal]
      %td= link_to 'Edit', edit_user_terminal_path(@user, terminal)
      %td= link_to 'Destroy', [@user, terminal], :confirm => 'Are you sure?', :method => :delete

