=content_for :section do
  Show terminal
%p
  %b Name:
  = @terminal.name
%p
  %b Os:
  = @terminal.os
%p
  %b Uid:
  = @terminal.uid
%p
  %b Description:
  = @terminal.description
%p
  %b Registration:
  = @terminal.registration_id
=content_for :menu do
  %li= link_to 'Current user', user_path(@user)
  %li= link_to 'Videos', user_videos_path(@user)
  %li= link_to 'Terminals', user_terminals_path(@user)
