!!!
%html
  %head
    %title ContentManager
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #nav
      #logo=link_to "ContentManager", posters_path
      #menu
        #section
          =controller.controller_name
          |
          =yield :section
        %ul
          - if current_user
            %li=link_to_unless_current "Me", current_user
          !!!%li=link_to_unless_current "Providers", providers_path
          !!!%li=link_to_unless_current "Users", users_path
          =yield :menu
      #login
        - if current_user
          Hello #{current_user.username},
          - if current_user.facebook?
            (facebook connected)
          - else
            = link_to "Facebook connect", root_path+"auth/facebook", :class => "fb-connect"
          = link_to "Log out", :logout
        - else
          = link_to "Register", new_user_path
          = link_to "Login", :login
    -if notice
      #notice
        = notice
    #content
      = yield
